<div>CONFIG COMPONENT</div>
<ul>
   <li><a [routerLink] = "['/']">
   	<span i18n="@@homeLabel">Accueil</span>
   	</a></li>
   <li><a [routerLink] = "['/config/museum']">
   	<span i18n="@@configMuseumLabel">Musée</span>
   	</a></li>
   <li><a [routerLink] = "['/config/user']">
   	<span i18n="@@configUserLabel">Utilisateurs</span>
   	</a></li>
   <li><a [routerLink] = "['/config/account']">
   	<span i18n="@@configAccountLabel">Compte</span>
   	</a></li>
   <li><a [routerLink] = "['/config/application']">
   	<span i18n="@@configApplicationLabel">RecolInline</span>
   	</a></li>
</ul>